* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

header {
  background-color: #5f27cd;
  padding: 16px 0; /* Espaçamento no topo e inferior */
  color: aliceblue;
  display: flex; /* Pra deixar o botão ao lao do titulo */
  border-bottom: 16px solid #341f97; /* ao o efeito azul mais escuro */
  justify-content: center; /* Centraliza tudo */
  text-transform: uppercase;
  font-style: italic;
}

header button {
  margin-left: 16px;
}

form {
  background-color: rgb(228, 228, 208);
  padding: 24px 0;
  text-align: center;
  display: none;
}

form h2 {
  margin-bottom: 16px;
}

input,
button {
  padding: 8px;
}

button {
  background-color: rgb(1, 165, 1);
  border: none;
  cursor: pointer; /* adiciona a mãozinha dando impressão de ser um item clicavel */
  font-weight: bolder;
  text-transform: uppercase;
  color: white;
}

#botao-cancelar {
  background-color: red;
}

ul {
  display: flex; /* vai deixar uma imagemao lado da outra e*/
  flex-wrap: wrap; /* quando chegar no limite da tela  passa para a linha de baixo*/
}

ul li {
  max-width: 25%; /* largura maxima dos itens */
  list-style: none; /* Remove as bolinhas da lista */
  position: relative;
  max-height: 260px;
  overflow-y: hidden;
}

ul li img {
  width: 100%;
}

.overlay-imagem-link {
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all ease .5s;  /* adiciona tempo de transição*/
}

.overlay-imagem-link a {
  color: azure;
  text-decoration: none;
}

ul li:hover .overlay-imagem-link {
  opacity: 1;
}
